
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo3</title>
  </head>

  <p><%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %></p>
  <p><%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %></p>
  <body>
    <%= yield %>
  </body>
</html>
